#newDeals {
	border-style: solid;
}

#top {
	padding-left:3%;
	padding-top:3%
	padding-right:3%;
}

#margin-left-align {
	padding-left:10%;
}

#margin-right-align {
	padding-right:10%;
}

#margin-left-right-align {
	padding-left:10%;
	padding-right:10%;
}

#orange-border {
	outline: 3px	solid black;
}

#buttonwidth {
	width: 30%;
	height: 50%;
}

#buffer {
	padding:2%;
}

#small-buffer {
	padding:1%;
}

#search-bar-padding {
	padding-right:10%;
}

#hand-img-size {
	width:10%;
	height:10%;
}

.thin-address-border {
	display: inline;
	border-style:solid;
	border-width:thin;
}

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}