
#help-buttons {
	padding-left:2%;
	padding-top:1%;
}

#left-side-margin {
  padding-left: 3%;
}

#top {
	padding-left:3%;
	padding-top:3%
	padding-right:3%;
}

#margin-left-align {
	padding-left:10%;
}

#margin-right-align {
	padding-right:10%;
}

#margin-left-right-align {
	padding-left:10%;
	padding-right:10%;
}

#margin-top {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */

  	display: flex;
  	align-items: center;
}

#buttonwidth {
	width: 30%;
	height: 50%;
}

#buffer {
	padding:3.2%;
}

#small-buffer {
	padding:1%;
}

#search-bar-padding {
	padding-right:10%;
}

#hand-img-size {
	width:10%;
	height:10%;
}

.thin-address-border {
	display: inline;
	border-style:solid;
	border-width:thin;
}

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

#center-nav {
	position: absolute;
    left: 50%;
    margin-left: -60px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.top-buffer{
	padding-top: 2%;
}

p {
  font-family:font-family: Lato, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

a { 
  text-decoration: none; color: #008080; 
}

h1 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 35px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}











#searcharea {
margin: 0 auto;
text-align: center;
background: #BF996B;
padding: 10px;
width: 30%;
-webkit-border-radius: 10px 10px 0 0;
-moz-border-radius: 10px 10px 0 0;
border-radius: 10px 10px 0 0;
}

#searcharea label {
font: bold 1.3em Arial;
text-transform: uppercase;
padding-bottom: 5px;
color: #A61C1C;
}

#searcharea p {
margin: 0;
line-height: 1em;
padding-bottom: 5px;
}

#searcharea input {
width: 80%;
text-align: center;
}

#update {
font-family: Georgia, "Times New Roman", Times, serif;
width: 70%;
margin: 0 auto;
border-top: 1px dotted #CCC;
}

#update ul {
list-style: none;
margin: 0;
padding: 0;
}

#update ul li {
width: 100%;
padding: 0 20px;
background: #EEE;
padding-bottom: 10px;
height: 110px;
overflow: hidden;
border-bottom: 1px dotted #CCC;
-webkit-animation: myanim 1s;
-moz-appearance-animation: myanim 1s;
-o-animation: myanim 1s;
animation: myanim 1s;

-webkit-transition: height 0.3s ease-out;
-moz-appearance-transition: height 0.3s ease-out;
-o-transition: height 0.3s ease-out;
transition: height 0.3s ease-out;
}

#update li:hover {
background: #FFFCE5;
min-height: 110px;
height: 250px;
overflow: visible;
}

#update h2 {
margin: 0;
padding: 0;
font-size: 1.2em;
padding-bottom: 5px;
padding-top: 20px;
font-family: Arial, Helvetica, sans-serif;
color: #BF5841;
border-bottom: 1px dotted #CCC;
margin-bottom: 10px;
}

#update img {
float: left;
width: 80px;
margin-right: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

@-webkit-keyframes myanim {
0% {
opacity: 0.3;
}
100% {
opacity: 1.0;
}
}
@-o-keyframes myanim {
0% {
opacity: 0.3;
}
100% {
opacity: 1.0;
}
}

@-moz-keyframes myanim {
0% {
opacity: 0.3;
}
100% {
opacity: 1.0;
}
}

@keyframes myanim {
0% {
opacity: 0.3;
}
100% {
opacity: 1.0;
}
}
