#newDeals {
	border-style: solid;
}

#help-buttons {
	padding-left:2%;
	padding-top:1%;
}

#top {
	padding-left:3%;
	padding-top:3%
	padding-right:3%;
}

#margin-left-align {
	padding-left:10%;
}

#margin-right-align {
	padding-right:10%;
}

#margin-left-right-align {
	padding-left:10%;
	padding-right:10%;
}

#margin-top {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  	min-height: 100vh; /* These two lines are counted as one :-)       */

  	display: flex;
  	align-items: center;
}

#orange-border {
	outline: 3px	solid black;
}

#buttonwidth {
	width: 30%;
	height: 50%;
}

#buffer {
	padding:3.2%;
}

#small-buffer {
	padding:1%;
}

#search-bar-padding {
	padding-right:10%;
}

#hand-img-size {
	width:10%;
	height:10%;
}

.thin-address-border {
	display: inline;
	border-style:solid;
	border-width:thin;
}

.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

#center-nav {
	position: absolute;
    left: 50%;
    margin-left: -60px;
    display: block;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}