<html>
  <head>
  	<script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
  </head>
  <body>

    <div class="container-fluid">
      <div class="row" id="buffer"></div>
    	<div class="row">
		    <div class="col-md-4"></div>
    		<div class="col-md-4" align="middle">
 		      	<a href="index.html">
		      		<img src="images/Homepage.JPG" alt="HTML5 icon" class="img-responsive">
		      	</a>
    		</div>
			<div class="col-md-4"></div>
    	</div>
		<div class="row"> 
		  	<div class="col-md-4"> 
		  		<a href="addNew.html">
		  			<button type="button" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-plus"></span> Add New</button>
		  		</a>
		  	</div>
		  	<div class="col-md-4" align="middle"> 
		  		<p>You are in Julian's House</p>
		  	</div>
		  	<div class="col-md-4" align="right" id="search-bar-padding">  
		  		<div> <form> <input type="text" placeholder="Search" align="right"> </input> </form> </div>
		  	</div>
	  	</div>
		<div class="row" id="buffer"></div>
	  	<div class="row" >
		  	<div class="col-md-4"> 
		  		<p>Filter</p>
				<form>
					<div class="radio">
				      <label><input type="radio" name="optradio">Most Popular</label>
				    </div>
				    <div class="radio">
				      <label><input type="radio" name="optradio">Most Recent</label>
				    </div>
				    <div class="radio">
				      <label><input type="radio" name="optradio">Least Distance</label>
				    </div>
				</form>
	  		</div>
		  	<div class="col-sm-4"> 
		      	<!-- This is where the image used to be  
				<a href="dealView.html">
		      		<img src="images/exampleDeal.png" alt="HTML5 icon" class="img-responsive">
		      	</a>
				-->
				<p id="newDeals">A solid border.</p>
		    </div>
		    <div class="col-sm-4" align="right" id="margin-right-align"> 
		    	<p>720 vouches</p>
		    </div>
	  	</div>
	  	<div class="row">
	  		<div class="col-sm-4"> 
	  			<div class="checkbox">
  					<label><input type="checkbox" class="check" id="checkAll">All</label>
				</div>
				<div class="checkbox">
  					<label><input type="checkbox" class="check">Restaurants</label>
				</div>
				<div class="checkbox">
  					<label><input type="checkbox" class="check">Events</label>
				</div>
				<div class="checkbox">
  					<label><input type="checkbox" class="check">Groceries</label>
				</div>
	  		</div>
      		<div class="col-sm-4"> </div>
      		<div class="col-sm-4"> </div>
	  	</div>
	 	<div class="row">
		  	<div class="col-sm-4">
		  		<a href="support.html">
		  			<button type="button" class="btn btn-default btn-success inline">Support</button>
		  		</a>
		  	</div>
	  	</div>
	  	<div class="row" style="padding-right:10%">
		  	<div class="col-sm-4">
		  		<a href="faq.html">
		  			<button type="button" class="btn btn-default btn-success">FAQ</button>
		  		</a>
		  	</div>
	  	</div>
	  	<div class="row">
		  	<div class="col-sm-4">
		  		<a href="contact.html">
		  			<button type="button" class="btn btn-default btn-success">Contact</button>
		  		</a>
		  	</div>
	  	</div>
    </div>

    <script src="js/vouch.js"></script>
  </body>
</html>