#top {
	padding-left:3%;
	padding-top:3%
	padding-right:3%;
}

#margin-left-align{
	padding-left:10%;
}

#margin-right-align{
	padding-right:10%;
}

#margin-left-right-align{
	padding-left:10%;
	padding-right:10%;
}
#orange-border{
	
	outline: 1px solid orange;
}

#buffer{
	padding:2%;
}

.thin-address-border{
	display: inline;
	border-style:solid;
	border-width:thin;
}